.lady-kunds {
  width: clamp(6.25rem, -2.1187rem + 38.2569vw, 32.3125rem) !important;
  height: clamp(7.5rem, -0.4673rem + 36.422vw, 32.3125rem) !important;
}

.container-w {
  width: clamp(21.875rem, 0rem + 100vw, 90rem) !important;
}

.mac-w {
  width: clamp(12.5rem, -1.207rem + 62.6606vw, 55.1875rem) !important;
  height: clamp(7.5rem, 0.6164rem + 31.4679vw, 28.9375rem) !important;
  right: clamp(-9.5rem, +1.7144rem + -19.2661vw, -39.625rem) !important;
}

.mac-bg {
  width: clamp(9.375rem, 0.344rem + 41.2844vw, 37.5rem) !important;
  height: clamp(9.375rem, 0.344rem + 41.2844vw, 37.5rem) !important;
  right: clamp(-2.5rem, +1.7144rem + -19.2661vw, -39.625rem) !important;
}
