.amina-w {
  /* width: clamp(11.875rem, 5.5987rem + 40.1681vw, 41.75rem) !important; */
  width: clamp(34.25rem, 32.0704rem + 16.9496vw, 60.625rem) !important;
}

.effect {
  width: clamp(1.25rem, 0.7248rem + 3.3613vw, 3.75rem) !important;
}

/* .amina-container {
  right: clamp(6.25rem, 3.6411rem + 11.9266vw, 14.375rem) !important;
} */
