.shopcard-pic {
  height: clamp(9.375rem, 5.8298rem + 22.6891vw, 26.25rem) !important;
  width: clamp(9.375rem, 5.8298rem + 22.6891vw, 26.25rem) !important;
  border-radius: 15px !important;
}

.shopcard {
  width: clamp(12.5rem, -0.197rem + 81.2605vw, 72.9375rem) !important;
}

@media screen and (max-width: 700px) {
  .shopcard {
    display: flex !important;
    flex-direction: row !important;
  }
}
