.hero-w {
  width: clamp(25rem, -4.5608rem + 67.5676vw, 56.25rem) !important;
  height: clamp(12.5rem, 9.1892rem + 7.5676vw, 16rem) !important;
}

.hero-img {
  width: clamp(5rem, 0.8615rem + 9.4595vw, 9.375rem) !important;
  height: clamp(5rem, 0.8615rem + 9.4595vw, 9.375rem) !important;
}
