:root {
  --font-size: 16px;
}

:root {
  --font-size: 31px;
}

body {
  /* max-width: 1440px; */
  /* background-color: red; */
  /* border: 10px solid yellow; */
  margin-inline: 0 auto !important;
}

#useNameSuggestion::-webkit-calendar-picker-indicator {
  display: none !important;
}
.suggestion-wrapper > input::-webkit-calendar-picker-indicator {
  display: none !important;
}

#useNameSuggestion {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

#useNameSuggestion[type="text"]::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
  border-color: #9FC43E;
}

/* For Firefox */
#useNameSuggestion[type="text"] {
  -moz-appearance: textfield !important;
  /* border-color: #9FC43E !important; */
  padding-block: 20px;
  border-radius: 20px;
}

/* Hide the arrow for IE and Edge */
#useNameSuggestion[type="text"]::-ms-clear {
  display: none;
}

/* General appearance removal */
#useNameSuggestion {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
